.services {
  padding: 120px 0;
}

.services h2 {
  font-size: 42px;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: #17171a;
  border: 1px solid #292929;
  border-radius: 20px;
  padding: 30px;
  transition: .3s;
}

.card:hover {
  transform: translateY(-6px);
  border-color: #ff7a00;
}

.card h3 {
  margin-bottom: 15px;
  color: #ff7a00;
}

.card p {
  color: #bdbdbd;
  line-height: 1.6;
}